

.top-nav-collapse {
	background-color: 	rgba(255,255,255,0.95);

	}







.navbar-fixed-top /*colour for nav bar at the top of page before scrolling */
{
	background-color: 	rgba(255,255,255,0.95);

}


@media (max-width: 768px) {
  .navbar, .navbar-nav {
		background-color: 	rgba(255,255,255,0.9) !important;
	}




}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #BFFF00;
}


.bg-skin {
	background: #BFFF00;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #BFFF00;
}

footer {
    background-color: rgba(0,0,0,0.8);
}

.btn-skin {
  color: #fff;
  background-color: #BFFF00;
  border-color: #BFFF00;
}
